<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Contacto</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='Contacto.css'>
    </head>
    
    <div th:replace="~{fragments :: headerNormal}"></div>

    <body>
        <section class="hero-small">
        <h1>Ponte en contacto con nosotros</h1>
        <p>¿Tienes alguna pregunta? Estamos aquí para ayudarte.</p>
    </section>

    <section class="contact-container">
        <div class="contact-info">
            <h3>Información de contacto</h3>
            <p>Email: info@ViveFlores.com</p>
            <p>Teléfono: +502 1234-5678</p>
            <p>Ubicación: Isla de Flores, Petén</p>
        </div>
    </section>

    <div th:replace="~{fragments :: footer}"></div>
</body>
</html>