<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Favoritos</title>
    <link rel="stylesheet" href="../static/crud.css">
</head>

<body>

    <header>
        <h1>Vive Flores</h1>
        <a href="#" class="btn-volver">← Volver al inicio</a>
    </header>

    <main>
        <h2>Gestión de Favoritos</h2>

        <div class="card">
            <form>
                <div class="grid-3">
                    <input type="number" placeholder="ID Usuario">
                    <input type="number" placeholder="ID Publicación">
                    <input type="number" placeholder="ID Categoría">
                </div>

                <button type="submit">Guardar</button>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Publicación</th>
                    <th>Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
        </table>

    </main>

</body>

</html>