<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href='index.css'>
</head>
<body>
    <header th:fragment="header">
        <div class="logo">Vive Flores</div>
            <nav>
                <ul>
                    <li><a href="index">Inicio</a></li>
                    <li><a href="#">Categorias</a></li>
                    <li><a href="publicacionesAll">Publicaciones</a></li>
                    <li><a href="eventosAll">Eventos</a></li>
                    <li><a href="serviciosAll">Servicios</a></li>
                    <li><a href="quienessomos">¿Quienes Somos?</a></li>
                    <li><a href="contacto">Contacto</a></li>
                    <li><a href="vendedor">Conviertete en vendedor</a></li>
                    <li><a href="paneladmin">Administrar</a></li>
                </ul>
            </nav>
            <a href="acceder"><button class="btn-login">Iniciar Sesión</button></a>
        </div>
    </header>
</body>
</html>