<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Inicio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='index.css'>
</head>

<body>
    <header>
        <div class="logo">Vive Flores</div>
        <nav>
            <ul>
                <li><a href="index">Inicio</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="publicacionesAll">Publicaciones</a></li>
                <li><a href="eventosAll">Eventos</a></li>
                <li><a href="serviciosAll">Servicios</a></li>
                <li><a href="quienessomos">¿Quienes Somos?</a></li>
                <li><a href="contacto">Contacto</a></li>
                <li><a href="vendedor">Conviertete en vendedor</a></li>
                <li><a href="paneladmin">Administrar</a></li>
            </ul>
        </nav>
        <a href="acceder"><button class="btn-login">Iniciar Sesión</button></a>
        </div>
    </header>

    <section class="hero">
        <h1>Explora y descubre este hermoso lugar</h1>
        <div class="search-box">
            <input type="text" placeholder="Buscar algo...">
            <button>Buscar</button>
        </div>
    </section>

    <!-- NEGOCIOS -->
    <section class="section">
        <h2>Negocios Destacados</h2>
        <div class="cards">
            <div class="card" th:each="p, iterStat : ${publi}" th:if="${iterStat.index < 3}">
                <img class="foto" th:src="@{'/publicaciones/foto/' + ${p.id_publicacion}}" alt="publicacion">
                <h3 th:text="${p.nombre_publicacion}">Nombre</h3>
                <p th:text="${p.descripcion}">Descripcion</p>
                <button>Ver más</button>
            </div>
        </div>
    </section>

    <!-- EVENTOS -->
    <section class="section alt">
        <h2>Eventos</h2>
        <div class="cards">
            <div class="card1" th:each="e, iterStat : ${event}" th:if="${iterStat.index < 3}">
                <img class="foto" th:src="@{'/eventos/foto/' + ${e.id_evento}}" alt="Eventos">
                <h3 th:text="${e.nombre_evento}"></h3>
                <p th:text="${e.descripcion}"></p>
                <button>Más información</button>
            </div>
        </div>
    </section>

    <!-- SERVICIOS -->
    <section class="section">
        <h2>Servicios Turísticos</h2>
        <div class="cards">
            <div class="card" th:each="s, iterStat : ${servi}" th:if="${iterStat.index < 3}">
                <img class="foto" th:src="@{'/servicios/foto/' + ${s.id_servicio}}" alt="Servicio">
                <h3 th:text="${s.nombre_servicio}"></h3>
                <p th:text="${s.descripcion}"></p>
                <button>Ver más</button>
            </div>
        </div>
    </section>

    <!-- GALERÍA -->
    <section class="section alt">
        <h2>Álbum de Fotografías</h2>
        <div class="gallery">
            <img src="Fotos1.jpg">
            <img src="Fotos2.jpg">
            <img src="Fotos3.jpg">
            <img src="Fotos4.jpg">
        </div>
        <div class="btn-gallery">
            <a href="Galeria de fotos.html"><button>Ver más</button></a>
        </div>

    </section>

    <footer>
        Todos los derechos © 2026 Isla de Flores
    </footer>
</body>

</html>