<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='Register.css'>
    <script src='main.js'></script>
</head>
<body>
    
    <div th:replace="~{fragments :: header}"></div>

    <section class="register-container">
        <div class="register-card">
            <h2>Crear Cuenta</h2>
            <form th:action="@{/crear}" method="post">
                <input type="text" placeholder="Username" name="username" required>
                <input type="text" placeholder="Nombre" name="nombre" required>
                <input type="text" placeholder="Apellido" name="apellido" required>
                <input type="email" placeholder="Correo electrónico" name="email" required>
                <input type="password" placeholder="Contraseña" name="contrasena" required>
                <input type="password" placeholder="Confirmar Contraseña" name="confirmar" required>
                <div th:if="${errorMessage}" style="color: red;">
                    <p th:text="${errorMessage}"></p>
                </div>
                <button type="submit" class="btn-register">Registrarse</button>
            </form>

            <p class="login-text">
                ¿Ya tienes cuenta? <a href="acceder">Inicia sesión</a>
            </p>
        </div>
        <div class="register-image">
            <img src="islaRegister.jpg" alt="Isla de Flores">
        </div>

    </section>
</body>
</html>