* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f2e3e;
    padding: 15px 40px;
    color: white;
    height: 100px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav a:hover {
    color: #f6b93b;
}

.btn-login {
    background: #f6b93b;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-login:hover {
    background: #e58e26;
}

.hero {
    position: relative;
    height: 80vh;
    background: url(FondoIslaPrincipal.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
}


.hero h1 {
    font-size: 36px;
    margin-bottom: 30vh;
}

.search-box {
    display: flex;
}

.search-box input {
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search-box button {
    padding: 10px 20px;
    border: none;
    background: #f6b93b;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-box button:hover {
    background: #e58e26;
}

.section {
    padding: 60px 40px;
    text-align: center;
}

.section h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

.alt {
    background: #f5f6fa;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #0f2e3e;
    padding: 20px;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    color: white;
}

.card img {
    margin-bottom: 30px;
    width: 300px;
    border-radius: 8px;
}

.card h3 {
    margin-bottom: 10px;
}

.card button {
    background: #f6b93b;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.card button:hover{
    background: #e58e26;
}

.card1 {
    background: #0f2e3e;
    padding: 20px;
    width: 350px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    color: white;
}

.card1 img {
    margin-bottom: 30px;
    width: 300px;
    border-radius: 8px;
}

.card1 h3 {
    margin-bottom: 10px;
}

.card1 button {
    background: #f6b93b;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.card1 button:hover {
    background: #e58e26;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    border-radius: 10px;
}

.gallery button {
    background: #f6b93b;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.gallery button:hover {
    background: #e58e26;
}

footer {
    background: #0f2e3e;
    color: white;
    text-align: center;
    padding: 100px;
    height: 200px;
}